arrow==1.2.3
asgiref==3.7.2
click==8.1.6
Django==4.2.3
django-environ==0.10.0
django-leaflet==0.29.0
GDAL @ file:///croot/gdal-split_1688050879880/work/build/swig/python
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1688887041365/work
Pillow==10.0.0
proj==0.2.0
psycopg2==2.9.6
python-dateutil==2.8.2
scipy==1.11.1
six==1.16.0
sqlparse==0.4.4
