<!DOCTYPE html>
<html>
<head>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'point_of_interest' %}">Point of interest</a>
        <a href="{% url 'point_of_interest_condition'%}">Point of interest condition</a>
    </nav>
    <title>Conditions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }

        img {
            max-width: 100px;
        }
    </style>
</head>
<body>
    <h1>Conditions</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Notes</th>
                <th>Image</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for condition in records %}
            <tr>
                <td>{{ condition.id }}</td>
                <td>{{ condition.notes }}</td>
                <td>
                    {% if condition.image %}
                        <img src="{{ condition.image.url }}" alt="{{ condition.notes }}">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ condition.created_at }}</td>
                <td>{{ condition.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
