<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>
    <ul>
        <li><a href="/admin/">Admin Page</a></li>
        <li><a href="{% url 'create_point_of_interest' %}">Point of interest</a></li>
        <li><a href="{% url 'point_of_interest_type'%}">Point of interestType</a></li>
        <li><a href="{% url 'point_of_interest_condition'%}">Point of interest condition</a></li>
        <li><a href="{% url 'condition' %}">Condition</a></li>
    </ul>

</body>
</html>