<!DOCTYPE html>
<html>
<head>
    <title>Point of Interest Conditions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">Home</a>
            <a class="navbar-item" href="{% url 'create_point_of_interest'%}">Point of Interest</a>
            <a class="navbar-item" href="{% url 'create_point_of_interest_condition' %}">Create POI Condition</a>
            <a class="navbar-item" href="{% url 'condition'%}">Condition</a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Point of Interest Conditions</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Point of Interest</th>
                        <th>Condition</th>
                        <th>Date</th>
                        <th>Notes</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td><strong>{{ record.point_of_interest }}</strong></td>
                        <td><em id="condition{{ record.id }}">{{ record.condition }}</em></td>
                        <td><em>{{ record.date }}</em></td>
                        <td><em>{{ record.notes }}</em></td>
                        <td>
                            {% if record.image %}
                            <img src="{{ record.image.url }}" alt="{{ record.notes }}">
                            {% endif %}
                        </td>
                        <td>
                            <button class="button is-link" onclick="showEditForm('{{ record.id }}', '{{ record.point_of_interest }}')">Edit</button>
                            <div class="edit-form" id="editForm{{ record.id }}" style="display: none;">
                                <h2 class="subtitle">Edit Condition for "{{ record.point_of_interest }}"</h2>
                            <form method="post" action="{% url 'create_point_of_interest_condition' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <label class="label" for="point_of_interest">Point of interest:</label>
                                <select name="point_of_interest" id="type">
                                        {% for poi in point_of_interest %}
                                            <option value="{{ poi.id }}">{{ poi.notes }}</option>
                                        {% endfor %}
                                    </select>

                                    <label class="label" for="condition">Condition:</label>
                                    <div class="select">
                                        <select name="condition" id="type">
                                        {% for cnd in condition_records %}
                                            <option value="{{ cnd.id }}">{{ cnd.notes }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <br>
                                    <label class="label" for="date">Date:</label>
                                    <input class="input" type="date" name="date" id="date" value="{{ record.date }}">
                                    <br>
                                    <label class="label" for="notes">Notes:</label>
                                    <textarea class="textarea" name="notes" id="notes">{{ record.notes }}</textarea>
                                    <br>
                                    <label class="label" for="image">Image:</label>
                                    <input class="input" type="file" name="image" id="image">
                                    <br>
                                    <!-- Add other input fields as needed -->
                                    <button class="button is-primary" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        function showEditForm(recordId) {
            var editForm = document.getElementById("editForm" + recordId);
            if (editForm.style.display === "none") {
                editForm.style.display = "block";
            } else {
                editForm.style.display = "none";
            }
        }

        function updateConditionDisplay(recordId, value) {
            var conditionElement = document.getElementById("condition" + recordId);
            conditionElement.innerText = value;
        }
    </script>
</body>
</html>
