<!DOCTYPE html>
<html>
<head>
    <title>Point of Interest Type</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">Home</a>
            <a class="navbar-item" href="{% url 'point_of_interest' %}">Point of Interest</a>
            <a class="navbar-item" href="{% url 'point_of_interest_condition'%}">Point of Interest Condition</a>
            <a class="navbar-item" href="{% url 'condition'%}">Condition</a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Point of Interest Type</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Image</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.notes }}</td>
                        <td>
                            {% if record.image %}
                                <img src="{{ record.image.url }}" alt="{{ record.notes }}">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td>{{ record.created_at }}</td>
                        <td>{{ record.updated_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
