<!DOCTYPE html>
<html>
<head>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">Home</a>
            <a class="navbar-item" href="{% url 'point_of_interest_type'%}">Point of Interest Types</a>
            <a class="navbar-item" href="{% url 'point_of_interest_condition'%}">Point of Interest Condition</a>
            <a class="navbar-item" href="{% url 'condition'%}">Condition</a>
        </div>
    </nav>
    <title>Point of Interests</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        #map {
            width: 800px;
            height: 650px;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Point of Interests</h1>
            <div id="map"></div>
        </div>
    </section>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var map = L.map('map').setView([0, 37], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);



        // Function to add a marker for each existing point of interest
        function addMarkers() {
            // Loop through the records and add markers with popups
            {% for record in records %}
                var latlng = [{{ record.latitude }}, {{ record.longitude }}];
                var popupContent = "<strong>{{ record.point_of_interest_type.name }}</strong><br>{{ record.notes }}";

                var marker = L.marker(latlng).addTo(map);
                marker.bindPopup(popupContent);
            {% endfor %}
        }

        // Add markers for existing points of interest on page load
        addMarkers();

        // Initialize the draw control for drawing on the map
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                marker: true,  // Enable marker drawing
                polyline: false,
                polygon: false,
                circle: false,
                rectangle: false,
            },
            edit: {
                featureGroup: drawnItems,
                remove: true,
            },
        });
        map.addControl(drawControl);

        map.on('draw:deleted', function (e) {
    var layers = e.layers;
    layers.eachLayer(function (layer) {
        // Get latitude and longitude of the marker
        var latitude = layer.getLatLng().lat;
        var longitude = layer.getLatLng().lng;

        // Send an AJAX request to your Django backend to delete the record
        fetch('/delete_point_of_interest/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ latitude: latitude, longitude: longitude }),
        })
        .then(function(response) {
            if (response.ok) {
                // Handle successful deletion
                console.log('Point of interest deleted successfully!');
            } else {
                // Handle deletion failure
                console.error('Failed to delete point of interest.');
            }
        })
        .catch(function(error) {
            console.error(error);
        });
    });
});






        // Function to handle form submission and update the list of records
        function submitFormAndRefreshList(form) {
            // Create a new FormData object to capture form data
            var formData = new FormData(form);

            // Send the form data using an AJAX request
            fetch("{% url 'create_point_of_interest' %}", {
                method: "POST",
                body: formData,
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
            })
            .then(function (response) {
                if (response.ok) {
                    return response.json(); // Parse the response as JSON
                } else {
                    throw new Error("Failed to create the point of interest.");
                }
            })
            .then(function (data) {
                // Handle the successful response (data contains the newly created POI)
                var newPOI = data;

                // Create a marker for the new point of interest
                var latlng = L.latLng(newPOI.latitude, newPOI.longitude);
                var marker = L.marker(latlng).addTo(map);
                var popupContent = "<strong>" + newPOI.type.name + "</strong><br>" + newPOI.notes;
                marker.bindPopup(popupContent);

                // Add the new marker to the drawnItems layer
                drawnItems.addLayer(marker);

                // Close the popup after the form submission
                map.closePopup();

                // Clear the form inputs
                form.reset();

                // Get the updated list of point of interest records from the server
                fetch("{% url 'create_point_of_interest' %}", { method: "GET" })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error("Failed to fetch point of interest records.");
                    }
                })
                .then(function (html) {
                    // Update the list of records on the page
                    var recordsContainer = document.getElementById("pointOfInterestRecords");
                    recordsContainer.innerHTML = html;
                })
                .catch(function (error) {
                    console.error(error);
                });
            })
            .catch(function (error) {
                console.error(error);
            });
        }

        // Event handler when a new marker is created
        map.on('draw:created', function (e) {
            var layer = e.layer;
            drawnItems.addLayer(layer);

            // Show the form for the new point of interest
            var latitude = layer.getLatLng().lat;
            var longitude = layer.getLatLng().lng;

            var popupContent = `
            <h2 class="subtitle is-small">Add Point of Interest</h2>
            <div class="columns is-mobile">
                <div class="column is-small">
                    <form id="addPointForm" method="post" action="{% url 'create_point_of_interest' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="latitude" value="${latitude}">
                        <input type="hidden" name="longitude" value="${longitude}">
                        <div class="field">
                            <label class="label is-small" for="type">Type:</label>
                            <div class="control">
                                <div class="select is-small">
                                    <select name="point_of_interest_type" id="type">
                                        {% for poi_type in point_of_interest_types %}
                                            <option value="{{ poi_type.id }}">{{ poi_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small" for="notes">Notes:</label>
                            <div class="control">
                                <textarea class="textarea is-small" name="notes" id="notes"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small" for="height_m">Height (m):</label>
                            <div class="control">
                                <input class="input is-small" type="number" name="height_m" id="height_m" step="0.1">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small" for="installation_date">Installation Date:</label>
                            <div class="control">
                                <input class="input is-small" type="date" name="installation_date" id="installation_date">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox is-small">
                                    <input type="checkbox" name="is_date_estimated" id="is_date_estimated">
                                    Is Date Estimated
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-small" for="image">Image:</label>
                            <div class="control">
                                <input class="input is-small" type="file" name="image" id="image">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control is-small">
                                <button class="button is-small is-primary" type="submit" id="add_point">Add Point of Interest</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>`;

            var popup = L.popup()
                .setLatLng(layer.getLatLng())
                .setContent(popupContent)
                .openOn(map);

            // Disable the map click event after the form is submitted
            map.off('click', onMapClick);

            // Add event listener to the form submission
            var form = popup.getElement().querySelector("#addPointForm");
            form.addEventListener("submit", function (event) {
                event.preventDefault(); // Prevent default form submission behavior
                submitFormAndRefreshList(form); // Handle form submission and list refresh
            });

            // Function to handle form submission and update the list of records
            function submitFormAndRefreshList(form) {
            // Create a new FormData object to capture form data
            var formData = new FormData(form);

    // Send the form data using an AJAX request
    fetch("{% url 'create_point_of_interest' %}", {
        method: "POST",
        body: formData,
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
    })
        .then(function (response) {
            if (response.ok) {
                return response.json(); // Parse the response as JSON
            } else {
                throw new Error("Failed to create the point of interest.");
            }
        })
        .then(function (data) {
            // Handle the successful response (data contains the newly created POI)
            var newPOI = data;

            // Create a marker for the new point of interest
            var latlng = L.latLng(newPOI.latitude, newPOI.longitude);
            var marker = L.marker(latlng).addTo(map);
            var popupContent = "<strong>" + newPOI.type.name + "</strong><br>" + newPOI.notes;
            marker.bindPopup(popupContent);

            // Add the new marker to the drawnItems layer
            drawnItems.addLayer(marker);

            // Close the popup after the form submission
            map.closePopup();

            // Clear the form inputs
            form.reset();

            // Get the updated list of point of interest records from the server
            fetch("{% url 'create_point_of_interest' %}", { method: "GET" })
            .then(function (response) {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("Failed to fetch point of interest records.");
                }
            })
            .then(function (html) {
                // Update the list of records on the page
                var recordsContainer = document.getElementById("pointOfInterestRecords");
                recordsContainer.innerHTML = html;
            })
            .catch(function (error) {
                console.error(error);
            });
        })
        .catch(function (error) {
            console.error(error);
        });
    }

        });
    });
    </script>
</body>
</html>